Zooka/.vs/Zooka/FileContentIndex/0ad8ffe5-85e2-4d20-85ae-375adb0ac6a8.vsidx
Zooka/.vs/Zooka/FileContentIndex/54ba13ac-1c64-480b-a9c9-948dffa4f106.vsidx
Zooka/Zooka/Form1.resx
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfo.cs
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfoInputs.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.assets.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.GeneratedMSBuildEditorConfig.editorconfig
Zooka/Zooka/obj/project.assets.json
Zooka/Zooka/obj/project.nuget.cache
Zooka/Zooka/obj/Zooka.csproj.nuget.dgspec.json
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfo.cs
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfoInputs.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.assets.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.GeneratedMSBuildEditorConfig.editorconfig
Zooka/Zooka/obj/project.assets.json
Zooka/Zooka/obj/project.nuget.cache
Zooka/Zooka/obj/Zooka.csproj.nuget.dgspec.json
Zooka/.vs/ProjectEvaluation/zooka.metadata.v9.bin
Zooka/.vs/ProjectEvaluation/zooka.projects.v9.bin
Zooka/.vs/ProjectEvaluation/zooka.strings.v9.bin
Zooka/.vs/Zooka/DesignTimeBuild/.dtbcache.v2
Zooka/.vs/Zooka/v17/.futdcache.v2
Zooka/.vs/Zooka/v17/.suo
Zooka/.vs/Zooka/v17/DocumentLayout.backup.json
Zooka/.vs/Zooka/v17/DocumentLayout.json
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfo.cs
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfoInputs.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.assets.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.GeneratedMSBuildEditorConfig.editorconfig
Zooka/Zooka/obj/project.assets.json
Zooka/Zooka/obj/project.nuget.cache
Zooka/Zooka/obj/Zooka.csproj.nuget.dgspec.json
Zooka/.vs/ProjectEvaluation/zooka.metadata.v9.bin
Zooka/.vs/ProjectEvaluation/zooka.projects.v9.bin
Zooka/.vs/ProjectEvaluation/zooka.strings.v9.bin
Zooka/.vs/Zooka/DesignTimeBuild/.dtbcache.v2
Zooka/.vs/Zooka/v17/.futdcache.v2
Zooka/.vs/Zooka/v17/.suo
Zooka/.vs/Zooka/v17/DocumentLayout.backup.json
Zooka/.vs/Zooka/v17/DocumentLayout.json
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfo.cs
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.AssemblyInfoInputs.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.assets.cache
Zooka/Zooka/obj/Debug/net8.0-windows/Zooka.GeneratedMSBuildEditorConfig.editorconfig
Zooka/Zooka/obj/project.assets.json
Zooka/Zooka/obj/project.nuget.cache
Zooka/Zooka/obj/Zooka.csproj.nuget.dgspec.json
.vs/ 
